body
{
    background-image: url(fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
}
input[type="text"], input[type="number"]
{
    background-color: rgba(0, 0, 0, 0.1);
  outline-style: none;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}
input[type="checkbox"]
{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #000;
}
.form-date {
    display: flex;
    flex-direction: column;
    }
    .form-date__label {
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    position:absolute;
    top: 70px;
    }
    .form-date__input[type="date"] {
    appearance: none;
    color: #1D1D1D;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ECF0F1;
    background:#ECF0F1;
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 100%;
    position: relative;
    top: 30px;
    }
    .form-date__input[type="date"]:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    .form-date__input[type=”date”]::-webkit-calendar-picker-indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        background: 0 0;
        margin: 0;
        opacity: 0;
        pointer-events: auto;
        }
        .coso
        {
            font-family: "Helvetica", arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            position:absolute;
            top: 685px;
        }